<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Log message format -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- Need appender to write to file -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- Name of the file where the log messages are written -->
    <file>/logs/ch11-batch-db.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.packt.process.core" level="info">
    <appender-ref ref="FILE" />
  </logger>
   <logger name="org.packt.process.core.processor" level="trace">
    <appender-ref ref="FILE" />
  </logger>
   <logger name="org.packt.microservice.core.service" level="warn">
    <appender-ref ref="FILE" />
  </logger>
     <logger name="org.packt.microservice.core.dao" level="warn">
    <appender-ref ref="FILE" />
  </logger>

  <!-- Setting the root level of logging to INFO -->
  <root level="info">
    <appender-ref ref="FILE" />
  </root>
</configuration>